<footer class="FOOTER">
    <a href="#" class="footer-sec-1">
        Back to top
    </a>
    <div class="footer-second">
        <div class="footer-sec-2">
            
            <ul>
                <a href="#" class="sec-heding">Get to Know Us</a>
                <a href="#">Health Catalyst</a>
                <a href="#">Doctors</a>
                <a href="/myaccount">Your Account</a>
                <a href="#">Help Centre</a>
            </ul>
        </div>
        <div class="footer-sec-2">
            
            <ul>
                <a href="#" class="sec-heding">Contact  Us</a>
                <a href="#">Virtual Hospital Address</a>
                <a href="#">Email :- contact@healthcatalyst.com</a>
                <a href="#">Phone :- 123-456-7890</a>
            </ul>
        </div>
        <div class="footer-sec-2">
            
            <ul>
                <a href="#" class="sec-heding">Quick Links</a>
                <a href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">Appointments</a>
                <a href="">FAQs</a>
            </ul>
        </div>
        <div class="footer-sec-2">
            
            <ul>
                <a href="#" class="sec-heding">Legal</a>
                <a  href="#">Tarms of Services</a>
                <a href="#">Privacy Policy</a>
            </ul>
        </div>
        <div class="footer-line">

        </div>
    </div>
    <div class="footer-sec-3">
        <div class="a">
            <a>Conditions of Use</a>
            <a>Privacy Notice</a>
            <a>All right reserve</a>
        </div>
        <span>Copyright  © 2024 , Team Heath Catalyst , Virtual Hospital</span>
    </div>
</footer>