<% layout("/layouts/boilerplate") %> 

<!-- ================================for child ================================= -->
<section class="panel_emergency">
    <div class="emergency_section">
        <h1> For Child's Common Disease</h1>
        <hr>
        <div class="desies_sec">
            <h2 class="desies_name">Chickenpox (Varicella)</h2>
            <p class="treatment_Sec">
                Chickenpox is a highly contagious viral infection characterized by an itchy rash and fever.
            </p>
            <h4> vaccine </h4>
            <ul>
               <li>Vaccine: Varicella vaccine (Varivax) is available for prevention.</li>
               
            </ul>
            
        </div>
        <div class="desies_sec">
            <h2 class="desies_name">Measles (Rubeola)</h2>
            <p class="treatment_Sec">
                Measles is a highly contagious viral infection characterized by fever, cough, runny nose, and a characteristic rash.
            </p>
            <h4> vaccine</h4>
            <ul>
                <li>MMRV vaccine(UP TO 15 MONTH)</li>
            </ul>  
    
           
        </div>

        <div class="desies_sec">
            <h2 class="desies_name">Mumps:</h2>
            <p class="treatment_Sec">
                Mumps is a viral infection that causes swelling of the salivary glands, fever, headache, and muscle aches. 
            </p>
            <h4>vaccination</h4>
            <ul>
              
              <li> MMR vaccination(up to 6 month)</li>
              
            </ul>
        </div>

        <div class="desies_sec">
            <h2 class="desies_name">Whooping Cough (Pertussis):</h2>
            <p class="treatment_Sec">
                Whooping cough is a bacterial infection characterized by severe coughing fits, often with a "whooping" sound during inhalation
            </p>
            <h4>vaccination</h4>
            <ul>
                Vaccine: DTaP vaccine (Diphtheria, Tetanus, acellular Pertussis) is available for prevention.
            </ul>
        </div>  
        <div class="desies_sec">
            <h2 class="desies_name">Hand, Foot, and Mouth Disease (HFMD):</h2>
            <p class="treatment_Sec">
                : HFMD is a viral illness common in children, characterized by fever, sore throat, and a rash on the hands, feet, and mouth.
            </p>
            <h4>vaccination</h4>
             <ul>
                <li>Vaccine: There is no specific vaccine for HFMD</li>                
             </ul>
        </div> 
    </div>    
</section>