<% layout("/layouts/boilerplate") %> 
<!-- ================================for women ================================= -->
<section class="panel_emergency">
    <div class="emergency_section">
        <h1>For Women's Common Disease</h1>
        <hr>
        <div class="desies_sec">
            <h2 class="desies_name">Urinary Tract Infections (UTIs)</h2>
            <p class="treatment_Sec">
                 UTIs are more common in women due to their anatomy. They can be treated with antibiotics prescribed by a healthcare provider. Drinking plenty of water and maintaining good hygiene can also help prevent UTIs.
            </p>
            <h4> Medicitions </h4>
            <ul>
                <li>Trimethoprim/sulfamethoxazole (Bactrim, Septra)</li>
                <li>Ciprofloxacin (Cipro)</li>
                <li>Nitrofurantoin (Macrodantin, Macrobid)</li>
                <li>Amoxicillin/clavulanate (Augmentin) </li>
            </ul>
            
        </div>
        <div class="desies_sec">
            <h2 class="desies_name">Yeast Infections</h2>
            <p class="treatment_Sec">
                Yeast infections, such as vaginal candidiasis, can cause itching, burning, and discomfort in the vaginal area. They are typically treated with antifungal medications, either over-the-counter or prescribed by a doctor.
            </p>
            <h4> Medicitions </h4>
            <ul>
                <li>Fluconazole (Diflucan)</li>
                <li>Clotrimazole (Gyne-Lotrimin)</li>
                <li>Miconazole (Monistat)</li>   
            </ul>
            
        </div>

        <div class="desies_sec">
            <h2 class="desies_name">Menstrual Disorders</h2>
            <p class="treatment_Sec">
                Conditions like menstrual cramps (dysmenorrhea), heavy menstrual bleeding (menorrhagia), and irregular periods can affect women. Treatment options may include pain relievers, hormonal contraceptives, or other medications to regulate the menstrual cycle.
            </p>
            <h4>Medicitions</h4>
            <ul>
                <li>Acetaminophen (Tylenol)</li>
                <li>ibuprofen (Advil, Motrin)</li>
                <li>naproxen (Aleve)</li>
            </ul>
        </div>

        <div class="desies_sec">
            <h2 class="desies_name">Polycystic Ovary Syndrome (PCOS)</h2>
            <p class="treatment_Sec">
                PCOS is a hormonal disorder that affects women of reproductive age. Treatment may involve lifestyle changes (such as diet and exercise), hormonal contraceptives to regulate periods, and medications to manage symptoms like acne or excessive hair growth.
            </p>
            <h4>Medicitions</h4>
            <ul>
             <li>SBL Lachesis Dilution 30 CH.</li>
             <li>Globyherbs Gokhru Capsule</li>
             <li>Varey Botanics Pcos Balance Tablet</li>
            </ul>
        </div>  
        <div class="desies_sec">
            <h2 class="desies_name">Breast Cancer</h2>
            <p class="treatment_Sec">
                Breast cancer is one of the most common cancers in women. Treatment options depend on the stage and type of cancer but may include surgery, chemotherapy, radiation therapy, hormone therapy, and targeted therapy.
            </p>
            <h4>Medications</h4>
             <ul>
                <li>Soltamox (Tamoxifen Citrate)</li>
              <li>Raloxifene Hydrochloride</li>
              <li>Evista (Raloxifene Hydrochloride)</li>
             </ul>
        </div>  
        <div class="desies_sec">
            <h2 class="desies_name">Osteoporosis</h2>
            <p class="treatment_Sec">
                Osteoporosis is a condition characterized by weakening of the bones, making them fragile and more prone to fractures. Treatment may include medications to increase bone density, supplements (e.g., calcium and vitamin D), and lifestyle changes (e.g., weight-bearing exercises, quitting smoking, reducing alcohol consumption).
            </p>   
            <h4>Medicine</h4>
            <ul>
                <li>Ibandronate (Boniva)</li>
                <li>Risedronate (Actonel)</li>
                <li>Alendronate (Fosamax)</li>
            </ul>
        </div>  
        <div class="desies_sec">
            <h2 class="desies_name">Depression and Anxiety</h2>
            <p class="treatment_Sec">
                Women are more likely than men to experience depression and anxiety. Treatment may involve therapy, medications (such as antidepressants or anti-anxiety drugs), and lifestyle changes.
            </p>
            <h4>Medicine</h4>
            <ul>
                <li>SSRIs orally</li>
            </ul>
            </div>  

    </div>    
</section>