<% layout("/layouts/boilerplate") %>
<section class="login_section">
    <div class="log_container">
            <div class="login_sec">
                <a href="/signup/agent" class="acc_sec">
                    <img src="/images/imagesTrayel/imagesTrayel/doc_img_sign.jpg" class="medical_icon" alt="">
                    <h4> As a medical facilitator</h4> 
                    <button type="button" class="btn btn-primary">Signup</button>   
                </a>
                <span>
                    already have an account ?
                    <a href="/login" class="already_acc">login</a>    
                </span>
            </div>
            <div class="sign_sec">
                <a href="/signup/doctor" class="acc_sec">
                    <img src="/images/imagesTrayel/imagesTrayel/doc_img_sign2.jpg" class="medical_icon" alt="">
                    <h4>As a Doctor</h4> 
                    <button type="button" class="btn btn-primary">Signup</button>  
                </a>
                <span>
                    already have an account ?
                    <a href="/login" class="already_acc">login</a>  
                </span>
            </div>
            <div class="sign_sec">
                <a href="/signup/patient" class="acc_sec">
                    <img src="/images/imagesTrayel/imagesTrayel/patientlog.jpg" class="medical_icon" alt="">
                    <h4>As a Patient</h4> 
                    <button type="button" class="btn btn-primary">Signup</button>  
                </a>
                <span>
                    already have an account ?
                    <a href="/login" class="already_acc">login</a>  
                </span>
            </div>
    </div>
</section>